:host {
  .holiday {
    position: absolute;
    z-index: 5;
    top: 2em;
    left: 2em;
    eo-icon {
      color: var(--color-accent);
      cursor: pointer;
      width: 48px;
      height: 48px;
    }
  }
  .empty-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .nofile {
      width: 128px;
      height: 128px;
      opacity: .06;
    }
  }
}
